@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@tailwind preflight;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next{
    right: 3% !important;
    z-index: 1;
}